# Managed by Hydra

ckpt_path: null

logger:
  # https://pytorch-lightning.readthedocs.io/en/stable/extensions/generated/pytorch_lightning.loggers.WandbLogger.html
  _target_: pytorch_lightning.loggers.WandbLogger
  project: ${model.network.module}
  name: ${experiment_name}

# https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html
trainer:
  accelerator: gpu
  devices: auto
  strategy: ddp
  num_nodes: 1
  max_epochs: 496
  num_sanity_val_steps: 10
  check_val_every_n_epoch: 8
  profiler: simple

# https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.callbacks.ModelCheckpoint.html
checkpoint_monitor:
  _target_: pytorch_lightning.callbacks.ModelCheckpoint
  save_top_k: -1
  every_n_epochs: ${model.trainer.check_val_every_n_epoch}
  filename: "{epoch}"
  dirpath: ${exp_output_root_path}/training


lr_decay:
  decay_start_epoch: 200
  decay_stop_epoch: 512


inference:
  split: val
  evaluate: True
  save_predictions: True