# scannet data
data/scannet/splited_data
data/scannet/splited_gt

# log
log/
logs/

# output
output/
outputs/

# temp
temp/

# pointgroup ops
lib/common_ops/COMMON_OP*
lib/common_ops/build/

# other files
.DS_Store
__pycache__
.vscode
.idea
env
