# scannet data
data/scannet/splited_data
data/scannet/splited_gt

# log
log/
logs/

# output
output/
outputs/

# temp
temp/

# pointgroup ops
lib/pointgroup_ops/build/
lib/pointgroup_ops/PG_OP*

# other files
.DS_Store
__pycache__
.vscode
env