# data
data/*/train
data/*/val
data/*/test

# log
log/
logs/
wandb
*.log

# output
output/
outputs/

# temp
temp/

# pointgroup ops
minsu3d/common_ops/COMMON_OP*
minsu3d/common_ops/build/

# other files
.DS_Store
__pycache__
.vscode
.idea
env
*.egg-info
